<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  {%- block html_head %}
  <title>{% block title %}{% endblock %} &mdash; {{ cfg.clan_title }} &mdash; {{ _("My Account") }}</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('core/shared', filename='admin/style.css') }}">
  {{ get_page_metadata() }}
  <script type="text/javascript" src="{{ url_for('core/shared', filename='js/jquery.autocomplete.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('core/shared', filename='js/Admin.js') }}"></script>
  {%- endblock %}
  {% block page_head %}{% endblock %}
</head>
<body>
  <div class="header">
    <div class="title">{% trans clan_title=cfg.clan_title %}{{ clan_title }} &mdash; My Account{% endtrans %}</div>
    <div class="metanav">
      <a href="{{ url_for('core/index') }}">{{ _("View Startpage") }}</a> |
      {% if account.user_can_enter_admin_panel -%}
      <a href="{{ url_for('admin/index') }}">{{ _("Administration") }}</a> |
      {%- endif %}
      <a href="{{ url_for('account/logout') }}">{{ _("Logout") }}</a>
      {% if request.user.is_admin -%} |
      <a href="{{ url_for('account/help') }}">?</a>
      {%- endif %}
    </div>
  </div>
  <div class="body">
    <ul class="navbar{% if not account.ctxnavbar %} standalonebar{% endif %}">
    {%- for item in account.navbar %}
      <li{% if item.active %} class="active"{% endif
        %}><a href="{{ item.url }}">{{ item.title }}</a></li>
    {%- endfor %}
    </ul>
    {%- if account.ctxnavbar %}
    <ul class="ctxnavbar">
    {%- for item in account.ctxnavbar %}
      <li{% if item.active %} class="active"{% endif
        %}><a href="{{ item.url }}">{{ item.title }}</a></li>
    {%- endfor %}
    </ul>
    {%- endif %}
    <div class="contents">
      <div class="notification-messages">
      {%- for message in account.messages %}
        <div class="message message-{{ message.type }}">{{ message.msg }}</div>
      {%- endfor %}
      </div>
      {{ sendsignal(signals.before_contents_rendered) }}{% block contents %}{% endblock %}
      {{ sendsignal(signals.after_contents_rendered) }}
    </div>
  </div>
  <div class="footer">
    <p>{% trans pyClanSphere='<a href="http://www.pyclansphere.de/">pyClanSphere</a>'|safe,
      version=pyClanSphere.version -%}Powered by {{ pyClanSphere }} {{ version }}.{% endtrans %} |
      &copy; {{ pyClanSphere.copyright }}</p>
  </div>
</body>
</html>
