<!DOCTYPE html>
<html lang="{{ cfg.language }}">
<head>
  <title>{% block title %}{% endblock %} &mdash; {{ cfg.clan_title }}</title>
  <meta charset="utf-8">
  <meta name="DC.title" content="{{ self.title() }} &mdash; {{ cfg.clan_title }}">
  {{ get_page_metadata()|indent(2)|safe }}{# Indenting so stuff looks pretty in source view #}
  {%- block head %}{% endblock %}
</head>
<body>
  <div class="header">
    <h1>{{ cfg.clan_title }}</h1>
    <p class="description">{{ cfg.clan_tagline }}</p>
  </div>
  <div class="contents">
    {{ sendsignal(signals.before_contents_rendered) }}{% block contents %}{% endblock -%}
    {{ sendsignal(signals.after_contents_rendered) }}
  </div>
  <div class="footer">{% trans pyClanSphere='<a href="http://www.pyclansphere.de/">pyClanSphere</a>'|safe
    %}Empowered by {{ pyClanSphere }}.{% endtrans %}</div>
</body>
</html>
