{% extends "layout.html" %}
{% block title %}{{ _('User: %s' % user.display_name ) }}{% endblock %}
{% block contents %}
<div class="post">
	<h2 class="title" align="center">{{ _("About the user") }}</h2>
	<img src="{{ user.pic_url }}" style="float:right; margin:6px;max-width:{{ request.app.theme.settings['avatar.size'] }}px">
  <table>
  	<tr><td>{{ _('Username') }}:</td><td>{{ user.username }}</td></tr>
    <tr><td>{{ _('Realname') }}:</td><td>{{ user.real_name or '' }}</td></tr>
  	<tr><td>{{ _('Gender') }}:</td><td>{{ _('Male') if user.gender_male else _('Female') }}</td></tr>
    <tr><td>{{ _('Day of Birth') }}:</td><td>{{ user.birthday|dateformat if user.birthday else '' }}</td></tr>
    <tr><td>{{ _('Height') }}:</td><td>{{ user.height or '0' }} cm</td></tr>
    <tr><td>{{ _('Address') }}:</td><td>{{ user.address or '' }}{{ '<br>'|safe if user.address else '' }}{{ user.zip or '' }} {{ user.city or '' }}</td></tr>
    <tr><td>{{ _('Country') }}:</td><td>{{ user.localized_country }}</td></tr>
    <tr><td>{{ _('Homepage') }}:</td><td>{% if user.www %}<a href="{{ user.www }}" target="_blank">{{ user.www }}</a>{% else %}No homepage (yet){% endif %}</td></tr>
  </table>
  <h2 class="title" align="center">{{ _('Gameaccounts') }}</h2>
  <table>
    {% if user.gameaccounts %}
  	<tr><th>{{ _('Game') }}</th><th>{{ _('Account ID') }}</th></tr>
    {% for account in user.gameaccounts %}
  	<tr><td>{{ account.game.name }}:</td><td>{{ account.account }}</td></tr>
    {% endfor %}
    {% endif %}
  </table>
  <h2 class="title" align="center">{{ _('Contact') }}</h2>
  <table>
  	<tr><td>{{ _('Email') }}:</td><td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td></tr>
    {% if user.imaccounts %}
    {% for account in user.imaccounts %}
  	<tr><td>{{ account.named_service }}:</td><td>{{ account.account }}</td></tr>
    {% endfor %}
    {% endif %}
  </table>
	<h2 class="title" align="center">{{ _('About me') }}</h2>
	{{ user.notes|prettify }}
  {{ profileaddons if profileaddons else '' }}
</div>
{% endblock %}
