{% macro render_formbox(field, label, class, toggleable=true, collapsed=true, disabled=false) %}
  <div class="formbox{{ " " + class if class }}{{ " toggleable" if toggleable
    }}{{ " collapsed" if collapsed and toggleable }}">
    <h3>{{ label if label else field.label() }}</h3>
    {{ caller(disabled=disabled) if caller else field(disabled=disabled) }}
    {%- if field.help_text %} <span class="explanation">{{ field.help_text }}</span>{%- endif %}
  </div>
{% endmacro %}

{% macro render_filefield(fieldname, label, class, toggleable=true, collapsed=true, disabled=false, existing_label=None, existing_bool=False) %}
  <div class="formbox{{ " " + class if class }}{{ " toggleable" if toggleable
    }}{{ " collapsed" if collapsed and toggleable }}">
    <h3>{{ label }}</h3>
    <table>
    {% if existing_label %}
    <tr>
      <td nowrap>{{ existing_label }}:</td><td width="100%">{{ _("Yes") if existing_bool else _("No") }}</td>
    </tr>
    <tr><td colspan="2"><input type="file" name="{{ fieldname }}"></td></tr>
    {% else %}
    <tr><td><input type="file" name="{{ fieldname }}"></td></tr>
    {% endif %}
    </table>
  </div>
{% endmacro %}

{% macro render_formmultibox(fields, boxlabel, class, toggleable=true, collapsed=true, disabled=false) %}
  <div class="formbox{{ " " + class if class }}{{ " toggleable" if toggleable
    }}{{ " collapsed" if collapsed and toggleable }}">
    <h3>{{ boxlabel }}</h3>
    <table>
    {% for field in fields %}
    <tr><td>{{ field.label() }}</td><td width="100%">{{ caller(disabled=disabled) if caller else field(disabled=disabled) }}{%- if field.help_text %}<br><span class="explanation">{{ field.help_text }}</span>{% endif %}</td></tr>
    {% endfor %}
    </table>
  </div>
{% endmacro %}

{% macro render_actions(form) %}
  <div class="actions">
    <input type="submit" name="save" value="{{ _('Save') }}">
    <input type="submit" name="save_and_continue" value="{{ _('Save and continue editing') }}">
    {%- if not form.new %}
      <input type="submit" name="delete" value="{{ _('Delete') }}">
    {%- endif %}
    <input type="submit" name="cancel" value="{{ _('Cancel') }}">
  </div>
{% endmacro %}
