{% extends "admin/layout.html" %}
{% from "admin/_form_helpers.html" import render_formmultibox, render_actions %}
{% block title %}{{ _('New User') if form.new else _('Edit User') }}{% endblock %}
{% block contents %}
  <h1>{{ self.title() }}</h1>
  {% call form() %}
    {{ render_formmultibox([form.username, form.password, form.password_confirm, 
                            form.email], _("Core account data"), toggleable=false) }}
    {{ render_formmultibox([form.real_name, form.display_name, form.address, form.zip,
                            form.city, form.country, form.www, form.gender_male,
                            form.birthday, form.height, form.notes], _("About the user")) }}
    {{ render_formmultibox([form.groups, form.privileges], _("Privileges")) }}
    <div class="formbox toggleable">
      <h3>{{ _("IM Accounts") }}</h3>
      <table>
      {% for group in form.user.imaccounts|groupby('service') %}
      {% for imaccount in group.list %}
        <tr>
          {% if loop.first %}<td rowspan="{{ group.list|count }}">{{ group.grouper.name }}</td>{% endif %}
          <td>{{ im.account }}</td><td width="100%"><a href="{{ url_for('admin/delete_imaccount', user_id=form.user.id, account_id=imaccount.id) }}">remove this</a></td>
        </tr>
        {% endfor %}
      {% else %}
        <tr><td>{{ _("No accounts") }}</td></tr>
      {% endfor %}
      </table>
    </div>
    {{ render_actions(form) }}
  {% endcall %}
{% endblock %}
