{% extends "admin/layout.html" %}
{% block title %}{{ _("Remove IM account registration") }}{% endblock %}
{% block contents %}
  <h1>{{ self.title() }}</h1>
  {% call form() %}
    <p>{% trans username=form.imaccount.user.display_name, service=form.imaccount.named_service, account=form.imaccount.account %}
      Service: <b>{{ service }}</b><br>
      Account: <b>{{ account }}</b><br>&nbsp;<br>
      Do you really want to remove this IM account from “{{ username }}”?
    {% endtrans %}</p>
    <div class="actions">
      <input type="submit" name="cancel" value="{{ _('No') }}">
      <input type="submit" name="confirm" value="{{ _('Yes') }}">
    </div>
  {% endcall %}
{% endblock %}
